<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap CSS for NAV BAR -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <!-- External CSS Fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;500;700&display=swap"
    rel="stylesheet">


  <title>Resource | <%= post.id %></title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav-bar.css" />
  <link rel="stylesheet" href="/styles/search-bar.css" />
  <link rel="stylesheet" href="/styles/individual-post.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="../public/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    <main class="individual-post-container">
      <h4>
        <%= post.title %>
      </h4>
      <% if (post.photo_url==='' ) { %>
        <img src="https://www.nbmchealth.com/wp-content/uploads/2018/04/default-placeholder.png" width="500"
          height="500">
        <% } else { %>
          <img src="<%= post.photo_url %>" width="500" height="500">
          <% } %>
            <div class="buttons-container">
              <button class="btn btn-primary" type="submit"><i class="fa-solid fa-wrench"></i></button>
              <button class="btn btn-primary" type="submit"><i class="fa-solid fa-bookmark"></i></button>
            </div>
            <div class="description-url-container">
              <a class="url-link" href="<%= post.url %>">URL LINK: <%= post.url %></a>
              <p class="post-description">Description: <%= post.description %>
              </p>
            </div>
            <form class="rating-form" action="/api/ratings" method="POST">
              <div class="form-group mb-2">
                <div class="rating-inputs">
                  <label class="rating-title" for="rating">Rating:</label>
                  <input class="rating-submission" type="number" min="0" max="5" id="rating-submission" name="rating" required
                    placeholder="Please provide a rating out of 5" style="width: 300px; margin: 1em 0" />
                    <!-- This line helps us insert the post_id to be depositied alongside the rating, without having to ask user.  -->
                    <input name="post_id" type='text' value="<%= post.id %>" hidden />
                  <button id="rate-button" type="submit" class="btn btn-primary">Rate</button>
                </div>
              </div>
            </form>
            <section class="comments-container">
              <h2 class="comments-header">Comments:</h2>
              <form id="post-comment-form" class="post-comment-form" method="POST" action="/api/comments">
                <!-- This line helps us insert the post_id to be depositied alongside the rating, without having to ask user.  -->
                <input name="post_id" type='text' value="<%= post.id %>" hidden />
                <textarea name="comment" id="comment-text" class="comment-text"></textarea>
                <button id="comment-post-button" class="comment-post-button" type="submit">Comment</button>
              </form>
            </section>
            <section>
              <% for (const valueObj of comment) {%>
                <div class="comments">
                  <%= valueObj.comment %>
                </div>
                <% } %>

            </section>
            <p></p>

    </main>

    <!-- <section class="search-bar" style="margin: 1em;">
      <form class="search form-inline" action="/search" method="GET">
        <div class="form-group mb-2">
          <input id="search-input" class="form-control" type="text" name="posts"
            placeholder="Search for a resource here!" style="width: 300px; margin: 1em" />
          <button type="submit" class="btn btn-primary"> <i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </form>
    </section> -->
</body>

</html>
